#container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#container1 {
    width: 100%;
    height: 45px;
    display: flex;
    flex-wrap: wrap;
}
#bluebox {
    background-color: rgb(41, 128, 185);
    width: 25%;
}
#container2 {
    width: 33.33%;
    display: flex;
    height: 150px;
    flex-wrap: wrap;
}
#redbox {
    width: 100%;
    background-color: rgb(231, 76, 60);
    height: 150px;
}
#container3 {
    width: 66.66%;
    height: 150px;
    background-color: teal;
    display: flex;
    flex-wrap: wrap;
}
#orangebox {
    width: 50%;
    height: 75px;
    background-color: rgb(230, 126, 35);
}
#greybox {
    width: 50%;
    height: 75px;
    background-color:rgb(149, 165, 166);
}
#yellowbox {
    width: 34%;
    height: 75px;
    background-color:rgb(243, 156, 18);
}
#emeraldbox {
    width: 33%;
    height: 75px;
    background-color:rgb(22, 161, 133);
}
#ocherbox {
    width: 33%;
    height: 75px;
    background-color:rgb(211, 84, 0);
}
#lastbox {
    width: 100%;
    background-color: rgb(44, 63, 81);
    height: 200px;
}
#greenbox {
    width: 75%;
    background-color: rgb(46, 204, 113);
}